body {
	padding:50px;
}

div#crypto-container {
	background:white;
	width: 70%;
	margin: 0 auto 4px auto;
	padding: 1em;
	xbox-shadow: 1px 1px 0 lightgrey;
	border-bottom: 1px solid #eee;

	.currency {
		padding-right: 20px;
	}

	span.left {
	  	font-weight: bold;
	}

	span.right {
		xfloat:right;
	  	font-weight: bold;
	}


	span {

	  input {
	  	text-align: right;
	  	border: none;
	  	border-bottom: 1px solid #ccc;
	  	font-size: 1.2em;
	  }

	}
}

.text-center {
	text-align: center;
}

.conversion-rate {
	text-align: right;
	padding-top: 10px;
	font-size: .7em;
}

#coinSymbols {
	background:white;
	text-align: center;
	margin: 0 auto 4px auto;
	padding: 1em;
	box-shadow: 1px 1px 0 lightgrey;
}

.react-tagsinput {
	width: 70%;
    background-color: #fff;
    border: 1px solid #666;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.react-autosuggest__container {

	ul {
		position: absolute;
	    background-color: #fff;
	    margin-left: 0;
	    padding-left: 0;
	    padding-top: .5em;
	    margin-top: 0;
	}

	li {

		list-style-type: none;
		padding: .2em;

		span {
			position: relative;
			display: block;
		}

	}
}